*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.banner{
	width: 100vw;
	height: 100vh;
	padding: 1rem 0.8rem;
	background: #F8F7F7;
}
.mywallet-box{
	width: 100%;
	color: #B0B0B0;
	font-size: 0.75rem;
	/* padding-top: 0.8rem; */
	background: #fff;
	border-radius: 0.3rem;
}
.pay-box{
	padding: 0 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #F0F0F0;
}
.wxpay{
	color: #333;
	line-height: 2rem;
}
.yjl{
	width: 0.3rem;
	float: right;
	margin-top: 0.8rem;
}
.money{
	color: #277AEC;
	float: right;
}